<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8" />
	<title>Computadoras</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
	<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
	<script src="/js/datatableComputadora.js"></script>
</head>

<body>
	<h1>Computadoras</h1>
	<table id="computadoraTabla" class="display">
       <!-- Header Table -->
       <thead>
            <tr>
				<th>Bien</th>
                <th>Arrendado</th>
                <th>Asignado</th>
                <th>Ip</th>
                <th>Dns</th>
                <th>Red</th>
                <th>Operativo</th>
                <th>M&aacute;quina</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Dominio</th>
                <th>Ubicaci&oacute;n</th>
                <th>Admin</th>
		    <th>Estado</th>
                <th>Actualizada</th>
                <th>Departamento</th>
            </tr>
        </thead>
        <!-- Footer Table -->
        <tfoot>
            <tr>
				<th>Bien</th>
                <th>Arrendado</th>
                <th>Asignado</th>
                <th>Ip</th>
                <th>Dns</th>
                <th>Red</th>
                <th>Operativo</th>
                <th>M&aacute;quina</th>
                <th>Tipo</th>
                <th>Modelo</th>
                <th>Dominio</th>
                <th>Ubicaci&oacute;n</th>
                <th>Admin</th>
		    <th>Estado</th>
                <th>Actualizada</th>
                <th>Departamento</th>
            </tr>
        </tfoot>
    </table>
    
</body>
</html>
