<!DOCTYPE html>
<html lang="es"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title>Usuarios</title>
        <!--<th:block th:include="layout/header"></th:block>-->
        <script type="text/javascript" src="/js/funciones.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="css/estilos.css" th:href="@{css/estilos.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <!--Vue JS -->
<script
  src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
</script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js">
</script>
<!--axios-->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    </head>
    <body>
<div class="jumbotron text-center">
   <h1 align="center" class="bg-dark text-white">Usuarios</h1><br/>
</div>



<div id="app">
{{ usuarios }}
</div>
<script>
new Vue({
  el: '#app',
  data () {
    return {
      usuarios: null
    }
  },
  mounted () {
    axios
      .get('http://localhost:8080/rest/usuariosRest')
      .then(response => (this.usuarios = response))
  }
})
</script>

<div id="my_app">
    <div v-for="item in users">
        {{ item.nombre}}
      </div>
</div>

<script>
var my_app = new Vue({
    el:'#my_app',
    data(){
        return {
            users:[]
        };
    },
    methods:{
        getUsuarios(){
            axios
            .get('http://localhost:8080/rest/usuariosRest')
            .then((data) => {
                this.users = data.data
            });
        }
    },
    mounted(){
        this.getUsuarios()
    },
});
</script>



    <a href="#" th:href="@{/home}" title="regreso">Home</a>
<!--<div th:include="layout/footer"></div>-->
</body>
</html>
