<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="es" ng-app="app">
 <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <meta http-equiv="x-ua-compatible" content="ie-edge"/>
        <script type="text/javascript" src="/js/angular.js"></script>
 <script type="text/javascript" src="/js/angular_resource.js"></script>
 <script type="text/javascript" src="/js/app.js"></script>

 <script type="text/javascript" src="/js/funciones.js"></script>
        <link rel="stylesheet" type="text/css" media="all" href="/css/estilos.css" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
 </head>
 <body>
        <div ng-controller="appControllerCompu">
                <h1 align="center">{{ titulo }}</h1>
                <p>{{ tam }}</p>
                <div class="table-responsive">
                <table class="table table-dark table-striped">
                    <thead >
                        <tr>
                            <th>No. bien</th>
                            <th>No. arrendamiento</th>
                            <th>Ip</th>
                            <th>Dispositivo</th>
                            <th>Modelo</th>
                            <th>Operativo</th>
                            <th>Piso</th>
                            <th>Estado</th>
                            <th>Nota</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="data in datos | filter: { dispositivo: 'Computadora' }">
                            <td>{{ data.bien }}</td>
                            <td>{{ data.arrendado }}</td>
                            <td>{{ data.ip }}</td>
                            <td>{{ data.dispositivo }}</td>
                            <td>{{ data.modelo }}</td>
                            <td>{{ data.operativo }}</td>
                            <td>{{ data.ubicacion }}</td>
                            <td>
                                <div ng-switch="data.estado">
                                        <div ng-switch-when="true"><span class="actualizada">BUEN ESTADO</span></div>
                                        <div ng-switch-default><span class="noactualizada">MAL ESTADO</span></div>
                                      </div>
                            </td>
                            <td>
                                    <div ng-switch="data.actualizada">
                                            <div ng-switch-when="true" class="actualizada">ACTUALIZADA</div>
                                            <div ng-switch-default class="noactualizada">NO ACTUALIZADA</div>
                                          </div>
                            </td>
                        </tr>
                    </tbody>
                </table></div>

     </div>

 </body>
</html>
