<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>Computadoras</title>
    <th:block th:include="layout/header"></th:block>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Computadoras -Registro</h1>
  </div>
<div id="form">
<form class="form-inline" method="post" th:action="@{/agregarComputadora}" th:object="${computer}" action="/agregarComputadora">
<span>No. bien:</span>
<input type="text" id="bien" name="bien" th:value="*{bien}" /><br/>
<span>No. arrendamiento:</span>
<input type="text" id="arrendado" name="arrendado" th:value="*{arrendado}" /><br/>
<span>No. asignado:</span>
<input type="text" id="asignado" name="asignado" th:value="*{asignado}" /><br/>
<span>IP:</span>
<input type="text" id="ip" name="ip" th:value="*{ip}" /><br/>
<span>DNS:</span>
<input type="text" id="dns" name="dns" th:value="*{dns}" /><br/>
<span>Red:</span>
<input type="text" id="red" name="red" th:value="*{red}" /><br/>
<span>Sistema operativo:</span>
<select name="operativo">
    <option th:each="mapSis : ${mapSistema}"
    th:value="${mapSis.value}" th:text="${mapSis.key}"/>
  </select><br/>
<!--<input type="text" id="operativo" name="operativo" th:value="*{operativo}" /><br/>-->
<span>Máquina:</span>
<input type="text" id="maquina" name="maquina" th:value="*{maquina}" /><br/>
<span>Tipo:</span>
<select name="tipo">
    <option th:each="mapT : ${tipoMap}"
    th:value="${mapT.value}" th:text="${mapT.key}"/>
  </select><br/>
<!--<input type="text" id="tipo" name="tipo" th:value="*{tipo}" /><br/>-->
<span>Modelo:</span>
<input type="text" id="modelo" name="modelo" th:value="*{modelo}" /><br/>
<span>Dominio:</span>
<input type="text" id="dominio" name="dominio" th:value="*{dominio}" /><br/>
<span>Administrador:</span>
<input type="text" id="administrador" name="administrador" th:value="*{administrador}" /><br/>
<span>Departamento:</span>
<select name="departamento">
    <option th:each="Item : ${departamentosSelect}"
      th:value="${Item.iddepartamento}" 
      th:text="${Item.nombre}"/>
  </select><br/>
<!--<input type="text" id="iddepartamento" name="iddepartamento" th:value="*{iddepartamento}" />-->
<span>Ubicaci&oacute;n:</span>
<input type="text" id="ubicacion" name="ubicacion" th:value="*{ubicacion}" /><br/>
<span>Actualizada</span>
<select name="actualizada">
    <option th:each="map : ${actualizarMap}"
    th:value="${map.value}" th:text="${map.key}"/>
  </select><br/>
<!--<input type="text" id="actualizada" name="actualizada" th:value="*{actualizada}" />-->
<input type="submit" value="Agregar" class="btn btn-primary"/>
</form>
</div>
<br/>

<div th:if="${!computers.isEmpty()}">
    <table class="table table-dark table-hover" align="center" border="0" dt:table="true">
          <thead>
              <tr>
                  <th>No. bien</th>
                  <th>No. arrendamiento</th>
                  <th>No. asignado</th>
                  <th>Ip</th>
                  <th>Dns</th>
                  <th>Red</th>
                  <th>Sist. operativo</th>
                  <th>M&aacute;quina</th>
                  <th>Tipo</th>
                  <th>Modelo</th>
                  <th>Dominio</th>
                  <th>Administrador</th>
                  <th>Ubicacion</th>
                 <th>&Aacute;rea</th>
                  <th>Actualizada</th>
              </tr>
          </thead>
          <tbody>
              <tr th:each="computer : ${computers}">
                  <td th:text="${computer?.bien}"></td>
                  <td th:text="${computer?.arrendado}"></td>
                  <td th:text="${computer?.asignado}"></td>
                  <td th:text="${computer?.ip}"></td>
                  <td th:text="${computer?.dns}"></td>
                  <td th:text="${computer?.red}"></td>
                  <td th:text="${computer?.operativo}"></td>
                  <td th:text="${computer?.maquina}"></td>
                  <td th:text="${computer?.tipo}"></td>
                  <td th:text="${computer?.modelo}"></td>
                  <td th:text="${computer?.dominio}"></td>
                  <td th:text="${computer?.administrador}"></td>
                  <td th:text="${computer?.ubicacion}"></td>
                  <td th:text="${computer?.departamento.nombre}"></td>
                  <td th:text="${computer?.actualizada==true?'Actualizada' : 'Falta actualizacion'}"></td>
              </tr>
          </tbody>
      </table>
     </div>

<div th:include="layout/footer"></div>
</body>
</html>